In [ ]:
lst = ["krish", "ayush", "abhay", 100, 349, 450]
lst.append(["append","nothing"])
lst

['krish', 'ayush', 'abhay', 100, 349, 450, ['append', 'nothing']]

In [ ]:
lst.insert(1, ["append","nothing"])

In [ ]:
lst

['krish',
 ['append', 'nothing'],
 'ayush',
 'abhay',
 100,
 349,
 450,
 ['append', 'nothing']]

In [ ]:
lst.extend([8,9])

In [ ]:
lst

['krish',
 ['append', 'nothing'],
 'ayush',
 'abhay',
 100,
 349,
 450,
 ['append', 'nothing'],
 8,
 9]

In [ ]:
lst.count(1)

0

In [ ]:
lst*2

['krish',
 ['append', 'nothing'],
 'ayush',
 'abhay',
 100,
 349,
 450,
 ['append', 'nothing'],
 8,
 9,
 'krish',
 ['append', 'nothing'],
 'ayush',
 'abhay',
 100,
 349,
 450,
 ['append', 'nothing'],
 8,
 9]

SETS:

A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python' set class represents the mathematical notion of  set. This is based on the data structure known as hash table.

In [ ]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [ ]:
set_var = {1, 2,3, 4,3}

In [ ]:
print(set_var)

{1, 2, 3, 4}

In [ ]:
ste = {"Avengers","Hitman","Coldman"}
print(type(ste))

<class 'set'>

In [ ]:
print(ste)

{'Coldman', 'Avengers', 'Hitman'}

In [ ]:
#Indexing :Sets do not support indexing also sets are not subscriptable

In [ ]:
 ste.add("Hulk")

In [ ]:
ste

{'Avengers', 'Coldman', 'Hitman', 'Hulk'}

In [ ]:
set1 = {"Hitman","Avengers","Coldman"}
set2 = {"Hitman", "Avengers","Coldman","Hulk2"}

In [ ]:
set2

{'Avengers', 'Coldman', 'Hitman', 'Hulk2'}

In [ ]:
set2.difference(set1)

{'Hulk2'}

Dictionariesâš“

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dic = {}

In [ ]:
type(dic)

dict

In [ ]:
dic = {1, 2, 3, 4}

In [ ]:
type(dic)

set

When you want to print just the values related to the keys

In [ ]:
 my_dic = {"car1":"Audi","car2":"Mercedez","car3":"Lambo"}
 my_dic["car1"]

'Audi'

When you want to print just the keys in the dictionary

In [ ]:
for x in my_dic:
  print(x)

car1
car2
car3

Whwn you want to print the values in the dictionary

In [ ]:
for x in my_dic.values():
  print(x)

Audi
Mercedez
Lambo

When you want to print the key-value pairs of the dictionary

In [ ]:
for x in my_dic.items():
  print(x)

('car1', 'Audi')
('car2', 'Mercedez')
('car3', 'Lambo')

Adding items to the dictionary

In [ ]:
my_dic["car4"] = "Ferrari"
print(my_dic)

{'car1': 'Audi', 'car2': 'Mercedez', 'car3': 'Lambo', 'car4': 'Ferrari'}

In [ ]:
car1_model = {"Mercedes":1970}
car2_model = {"Audi":1989}
car3_model = {"Ferrari":1976}

car_type = {"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [ ]:
print(car_type)

{'car1': {'Mercedes': 1970}, 'car2': {'Audi': 1989}, 'car3': {'Ferrari': 1976}}

In [ ]:
#Accessing the values in the dictionary:
print(car_type["car1"])

{'Mercedes': 1970}

In [ ]:
#Accessing the value of the key in a nested dictionary
print(car_type["car1"]["Mercedes"])

1970

Tuple

In [ ]:
#create an empty tuple
my_tuple = tuple()

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple = ()

In [ ]:
my_tuple = ("Krish","Naik","Weirdo")

In [ ]:
my_tuple[0]

'Krish'

In [ ]:
#Tuple do not support item assignment, they are immutable but you can replace the old tuple with new elements 

my_tuple = ("monkey","hatthi")
print(my_tuple)

('monkey', 'hatthi')

# **Functions in Python**
*   Why Functions
*   Function Definition
*   Positional and Keywords Arguments in Functions

In [ ]:
def even_odd(num):
  if num%2==0:
    print("The entered number is even")
  else:
    print("The entered number is odd")

In [ ]:
even_odd(34)

The entered number is even

In [ ]:
# print vs return
def hello_world():
  return "Hello Bouyyyy"

In [ ]:
val = hello_world()

In [ ]:
print(val)

Hello Bouyyyy

In [ ]:
def add_num(num1, num2):
  return num1+num2

In [ ]:
val = add_num(32, 45)

In [ ]:
print(val)

77

In [ ]:
## positional argument 
## keyword argument
def hello_world(name, age=20):

  print("My name is {} and my age is {}".format(name, age))

In [ ]:
hello_world("ayush")

My name is ayush and my age is 20

In [ ]:
def arguments(*args,**kwargs):
  print(args)
  print(kwargs)

In [ ]:
arguments("ayush","singh",age = 39,dob=3455)

('ayush', 'singh')
{'age': 39, 'dob': 3455}

In [ ]:
lst = ["ayush", "singh"]
keywords_args = {"age": 39,"dob":3455}

In [ ]:
arguments(*lst,**keywords_args)

('ayush', 'singh')
{'age': 39, 'dob': 3455}

In [ ]:
lst = [1,2,3,4,5,6,7]

In [ ]:
def evenoddsum(lst):
  even_sum = 0
  odd_sum = 0
  for i in lst:
    if i%2==0:
      even_sum = even_sum + i
    else:
      odd_sum = odd_sum + i
  return even_sum, odd_sum

In [ ]:
evenoddsum(lst)

(12, 16)

# **Lambda Function**

*   Anonymous function
*   A function with no name

In [ ]:
def addition(a, b):
  return a+b

In [ ]:
addition(12, 14)

26

In [ ]:
## So wherever we have to declare a function which has a single line of shit to make it work, then we use lambda function

addition = lambda a,b:a+b
## Lambda function is only possible if we have a single expression!!
## addition here is not a function it is a variable.

In [ ]:
addition(12, 14)

26

In [ ]:
def even(a):
  if a%2==0:
    return True

In [ ]:
even(24)

True

In [ ]:
even1 = lambda a:a%2==0

In [ ]:
even1(13)

False

In [ ]:
def addition(x, y, z):
  return x+y+z

In [ ]:
addition(2, 4, 5)

11

In [ ]:
addition = lambda x,y,z:x+y+z

In [ ]:
addition(2,3,5)

10

# **Map Function in Python**

In [ ]:
def even_or_odd(num):
  if num%2==0:
    return "The {} is even".format(num)
  else:
    return "The {} is odd".format(num)

In [ ]:
even_or_odd(24)

'The 24 is even'

In [ ]:
lst = [1,2,3,45,67,8,8,9,6,34,56,78]

In [ ]:
list(map(even_or_odd,lst))

['The 1 is odd',
 'The 2 is even',
 'The 3 is odd',
 'The 45 is odd',
 'The 67 is odd',
 'The 8 is even',
 'The 8 is even',
 'The 9 is odd',
 'The 6 is even',
 'The 34 is even',
 'The 56 is even',
 'The 78 is even']

# **Filter Function in Python**

In [ ]:
def even(num):
  if num%2==0:
    return True

In [ ]:
even(2)

True

In [ ]:
lst  =[1,2,3,4,5,6,7,8,9,9]

In [ ]:
list(filter(even,lst ))

[2, 4, 6, 8]

In [ ]:
list(map(even,lst))

[None, True, None, True, None, True, None, True, None, None]

# **List Comprehension**
List comprehensions provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The expression can be anything, meaning you can put in all kinds of objects in lists.

In [ ]:
lst1 = []
def lst_square(lst):
  for i in lst:
    lst1.append(i*i)
  return lst1

In [ ]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
lst = [1,2,3,4,5,6,7]

In [ ]:
## List Comprehension
lst1 = [i*i for i in lst if i%2==0]

In [ ]:
print(lst1)

[4, 16, 36]

# **String Formatting in Python**

In [ ]:
print("HELLO EVERYONE")

HELLO EVERYONE

In [ ]:
def greeting(name):
  return "Hello {}. Welcome to the community".format(name)

In [ ]:
greeting("ayush")

'Hello ayush. Welcome to the community'

In [ ]:
def welcome_email(name, age):
  return "Hello {}. Your age is {}".format(name, age)

In [ ]:
welcome_email("ayush", 34)

'Hello ayush. Your age is 34'

# **Python Lists Iterables vs Iterators**

In [ ]:
## Lists is Iterable

lst = [1,2,3,4,5,6,7]

for i in lst:
  print(i)

1
2
3
4
5
6
7

In [ ]:
## iter is an inbuilt function used to convert a list that is iterable into an iterator
## iter(iterable) -> iterator
## iter(callable, sentinel) -> iterator
lst1 = iter(lst)
## But here we cannot see the all the elements of the iterable at once as it has not been initialized in the memory so we can only access each element one by one 
## by repeatedly calling the next function

In [ ]:
next(lst1)

1

In [ ]:
for i in lst1:
  print(i)

2
3
4
5
6
7

# **OOPS Tutorial in Python**

In [ ]:
## Init function is the constructor which helps to define the properties of the class that we have defined.

class Car:
  def __init__(self,window,enginetype,door):
    self.windows = window
    self.doors = door
    self.enginetypes = enginetype
  def self_driving(self):
    return "This is a {} car".format(self.enginetypes)

In [ ]:
car1 = Car(4,"petrol",5)
## self particularly takes the reference for this object i.e. "car1" and for this object the "windows" attribute is set to "window" value and similarly all other values will be set to each other.

In [ ]:
car1.self_driving()

'This is a petrol car'

In [ ]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors',
 'enginetypes',
 'windows']

In [ ]:
car2 = Car(3,4,"diesel")

In [ ]:
 print(car1.windows)

4

In [ ]:
print(car2.enginetypes)

4

# **Python Exception Handling**

In [ ]:
try:
  ## code block where exception can occur
  a=b
except:
  print("Some problem may have occured")

In [ ]:
## try else block
try:
  a = int(input("Enter a number: "))
  b = int(input("Enter another number: "))
  c = a/b
  d = a*b
  e = a + b

except NameError:
  print("The user have bnot defined the variable") 
except TypeError:
  print("Try to make the datatype similar")   
except ZeroDivisionError:
  print("Please provide a number greater than zero") 
except Exception as ex:
  print(ex)
else:
  print(c)
  print(d)
  print(e)

Enter a number: 12
Enter another number: 23
0.5217391304347826
276
35

In [ ]:
## try else and finally
try:
  a = int(input("Enter a number: "))
  b = int(input("Enter another number: "))
  c = a/b
  

except NameError:
  print("The user have bnot defined the variable") 
except TypeError:
  print("Try to make the datatype similar")   
except ZeroDivisionError:
  print("Please provide a number greater than zero") 
except Exception as ex:
  print(ex)
else:
  print(c)
finally:
  print("The execution is done")

Enter a number: 12
Enter another number: 0
Please provide a number greater than zero
The execution is done

# **Custom Exception**

In [ ]:
class Error(Exception):
  pass


class dobException(Error):
  pass

In [ ]:
year = int(input("Enter the year of Birth: "))
age =2022 - year
try:
  if age <= 30 and age >20:
    print("The age is valid, you can enroll for the examination")
  else:
    raise dobException
except dobException:
  print("The age is not valid, you cannot appear in the examination")

Enter the year of Birth: 1995
The age is valid, you can enroll for the examination

# **Python OOPS Inheritance**

In [ ]:
##All the class variables are public
## You use single underscore _ when we need to keep things protected and double underscores __ when we need to keep it private.
class Car():
  def __init__(self,windows, doors, enginetype):
    self.windows = windows
    self.doors = doors
    self.enginetype = enginetype
  def drive(self):
    print("The Person drives the car")

In [ ]:
car = Car(3, 4, "petrol")

In [ ]:
car.drive()

The Person drives the car

In [ ]:
## Inheritance: Using the abilities of the Car class in Audi class and this will help Audi to inherit the properties of Car and also we can add some new features too
class Audi(Car):
  def __init__(self,windows, doors, enginetype,enableai):
    super().__init__(windows, doors, enginetype)
    self.enableai = enableai
  def selfdriving(self):
    print("Audi has selfdriving features")

In [ ]:
audiQ9 = Audi(3,4,"diesel", True)

In [ ]:
dir(audiQ9)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors',
 'drive',
 'enableai',
 'enginetype',
 'selfdriving',
 'windows']

In [ ]:
audiQ9.drive()

The Person drives the car

# **Python OOPS-Magic Methods in Classes**

In [ ]:
## All the class variables are public

class Car():
  #def __new__(self,windows, doors, enginetype):
    #return "The object has started getting initialized"
  def __init__(self,windows, doors, enginetype):
    self.windows = windows
    self.doors = doors
    self.enginetype = enginetype
  def __str__(self):
    return "This object has been initialized"
  def __sizeof__(self):
    return "This displays the size of the object"    
  def drive(self):
    print("The Person drives the car")

In [ ]:
c = Car(5,5,"diesel")

In [ ]:
print(c)

This object has been initialized

In [ ]:
c

In [ ]:
dir(c)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# **Python Assert**
Python provides the assert statement to check if a given logical expression is true or false. Program execution proceeds only if the expression is true and raises the AssertionError when it is false. The following code shows the usage of the assert statement.

In [ ]:
num = 10
assert num>10

AssertionError: ignored

In [ ]:
try:
  num = int(input("Enter the number: "))
  assert num%2==0
  print("The number is even")
except AssertionError:
  print("Please enter an even number")

Enter the number: 12
The number is even

# **Python Iterators vs Generators**

In [ ]:
lst = [1,2,3,4,5,6]
for i in lst:
  print(i)

1
2
3
4
5
6

In [ ]:
## Iterator
Iterable = iter(lst)

In [ ]:
print(Iterable)

<list_iterator object at 0x7fbe4a424350>

In [ ]:
type(Iterable)

list_iterator

In [ ]:
next(Iterable)

StopIteration: ignored

In [ ]:
try:
  print(next(Iterable))
except StopIteration:
  print("The Iterator is empty")

The Iterator is empty

In [ ]:
### Generator: Generators is basically used in order to create Iterators
def square(n):
  for i in range(n):
    yield i**2

In [ ]:
a = square(3)
a

In [ ]:
next(a)

0

In [ ]:
for i in square(3):
  print(i)

0
1
4

# **Differences**
1. To create an iterator iter() function is used and to create a generator a function and the yield keyword is used.
2. Generator uses the yield keyword. It saves the local keyword value.
3. Generator in python helps us to write fast and compact code.
4. Python Iterator is much more memory efficient.

In [ ]:
import types,collections

In [ ]:
issubclass(types.GeneratorType, collections.Iterator)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  """Entry point for launching an IPython kernel.

True

# **Python Decorators**

In [ ]:
##function copy
##closures
##decorators

In [ ]:
def welcome():
  return 'Welcome to my house ladies'

In [ ]:
wel = welcome()
del welcome
## Even when we delete the function we get output out of "wel" as we copied the welcome() function to this varibale. This is the idea of a function copy.

In [ ]:
wel

'Welcome to my house ladies'

In [ ]:
## Closures
def main_welcome():
  msg = "Hello Everyone"
  def sub_welcome_class():
    print("Welcome to my house ladies")
    print(msg)
    print("Please subscribe to my services")  
  return sub_welcome_class()

In [ ]:
main_welcome()

Welcome to my house ladies
Hello Everyone
Please subscribe to my services

In [ ]:
## Closures -> This is also the starters of Decorators, we can call them initial Decorators
def main_welcome(func):
  
  def sub_welcome_class():
    print("Welcome to my house ladies")
    func("This is fuckin cool")
    print("Please subscribe to my services")  
  return sub_welcome_class()

In [ ]:
main_welcome(print)

Welcome to my house ladies
This is fuckin cool
Please subscribe to my services

In [ ]:
def main_welcome(func):
  
  def sub_welcome_class():
    print("Welcome to my house ladies")
    print(func([1,2,3,4,5,6]))
    print("Please subscribe to my services")  
  return sub_welcome_class()

In [ ]:
main_welcome(len)

Welcome to my house ladies
6
Please subscribe to my services

In [ ]:
## Decorators
def main_welcome(func):
  
  def sub_welcome_class():
    print("Welcome to my house ladies")
    func()
    print("Please subscribe to my services")  
  return sub_welcome_class()

In [ ]:
@main_welcome
def channel_name():
  print("This is not the channel where they show Suryavansham")

Welcome to my house ladies
This is not the channel where they show Suryavansham
Please subscribe to my services

In [ ]:
a = main_welcome(channel_name) ## I don't know what the fuck is happening

Welcome to my house ladies

TypeError: ignored

# **Shallow Copy vs Deep Copy in Python**

In [ ]:
## = , copy(), deepcopy()
lst1 = [1,2,3,4]
lst2 = lst1

In [ ]:
lst2[1] = 1000

In [ ]:
lst2

[1, 1000, 3, 4]

In [ ]:
lst1

[1, 1000, 3, 4]

In [ ]:
## copy()
## shallow copy
lst1 = [1,2,3,4]
lst2 = lst1.copy()
## Using the .copy() function this separates the memory locations of the two lists.

In [ ]:
lst2[1]= 1000

In [ ]:
lst2, lst1

([1, 1000, 3, 4], [1, 2, 3, 4])

In [ ]:
## Shallow copy and nested list
lst1 = [[1,2,3,4],[5,6,7,8]]
lst2 = lst1.copy()

In [ ]:
lst1[1][0] = 100

In [ ]:
lst1

[[1, 2, 3, 4], [100, 6, 7, 8]]

In [ ]:
lst2

[[1, 2, 3, 4], [100, 6, 7, 8]]

In [ ]:
## Both the lists have the same elements as now the separate lists are being considered as items which have different locations but the objects in the items are referring to each other that's why they are same

In [ ]:
lst1.append([2,5,7,9])

In [ ]:
lst1

[[1, 2, 3, 4], [100, 6, 7, 8], [2, 5, 7, 9]]

In [ ]:
lst2 
## Thus the itmes do not get copied

[[1, 2, 3, 4], [100, 6, 7, 8]]

In [ ]:
## deep copy
import copy
lst1 = [1,2,3,4]
lst2 = copy.deepcopy(lst1)

In [ ]:
lst2[1] = 100

In [ ]:
lst2

[1, 100, 3, 4]

In [ ]:
lst1

[1, 2, 3, 4]

In [ ]:
## In a normal list shallow copy == deep copy

In [ ]:
lst1 = [[1,2,3,4],[5,6,7,8],[3,4,7,0]]
lst2 = copy.deepcopy(lst1)

In [ ]:
lst2[1][0] = 100

In [ ]:
lst1

[[1, 2, 3, 4], [5, 6, 7, 8], [3, 4, 7, 0]]

In [ ]:
lst2

[[1, 2, 3, 4], [100, 6, 7, 8], [3, 4, 7, 0]]

# **Class Methods and Class Variables**

In [ ]:
class Car:
  base_price = 100000 ## Class variables
  def __init__(self,windows,doors,power):
    self.windows = windows
    self.doors = doors
    self.power = power
  def what_base_price(self):
    print("The base price is {}".format(self.base_price))   
  @classmethod
  def revise_base_price(cls, inflation):
    cls.base_price=cls.base_price + cls.base_price*inflation

In [ ]:
Car.revise_base_price(0.10)
## We always update the rates of inflation using this method where we directly call the class as this is the best practice to be followed.

In [ ]:
Car.base_price

110000.0

# **Static Methods**

In [ ]:
import datetime
now = datetime.datetime.now()

In [ ]:
now.year

2022

In [ ]:
class Car:
  base_price = 100000 ## Class variables
  def __init__(self,windows,doors,power):
    self.windows = windows
    self.doors = doors
    self.power = power
  def what_base_price(self):
    print("The base price is {}".format(self.base_price))   
  @classmethod
  def revise_base_price(cls, inflation):
    cls.base_price=cls.base_price + cls.base_price*inflation
  @staticmethod
  def check_year():
    if now.year == 2022:
      return True
    else:
      return False

In [ ]:
## static method is the first one to get initialized and it can be initialized only once as it can be called many times as we can  call the same class multiple number of times

# **OOPS- Multiple Inheritance in Python**

In [ ]:
class A:
  def method1(self):
    print("A class is being called")

In [ ]:
class B(A):
  def method1(self):
    print("B class is being called")

In [ ]:
class C(A):
  def method1(self):
    print("C class is being called")

In [ ]:
class D(B, C):
  def method1(self):
    print("D class is being called")
    C.method1(self)
    B.method1(self)
    A.method1(self)

In [ ]:
d = D()

In [ ]:
d.method1()

D class is being called
C class is being called
B class is being called
A class is being called

In [ ]:
B.method1(d)

B class is being called

# **Python OOPS - Public, Protected and Private**

In [ ]:
##All the Class variables are public
class Car():
  def __init__(self,windows,doors,enginetype):
    self.windows = windows
    self.doors = doors
    self.enginetype = enginetype

In [ ]:
audi = Car(4,5,"diesel")

In [ ]:
audi

In [ ]:
audi.windows = 5

In [ ]:
audi.windows

5

In [ ]:
##All the Class variables are protected
class Car():
  def __init__(self,windows,doors,enginetype):
    self._windows = windows
    self._doors = doors
    self._enginetype = enginetype

In [ ]:
audi = Car(4,4,"Petrol")

In [ ]:
dir(audi)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_doors',
 '_enginetype',
 '_windows']

In [ ]:
class Truck(Car):
  def __init__(self,windows,doors,enginetype,horsepower):
    super().__init__(windows,doors,enginetype)
    self.horsepower = horsepower

In [ ]:
truck = Truck(4,4,"Petrol",5000)

In [ ]:
truck._windows= 5

In [ ]:
truck._windows

5

In [ ]:
dir(truck)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_doors',
 '_enginetype',
 '_windows',
 'horsepower']

In [ ]:
## Private
class Car():
  def __init__(self,windows,doors,enginetype):
    self.__windows = windows
    self.__doors = doors
    self.__enginetype = enginetype

In [ ]:
audi = Car(4,5,"Petrol")

In [ ]:
dir(audi)

['_Car__doors',
 '_Car__enginetype',
 '_Car__windows',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

# **Python Eval Function--Evaluating Expressions Dynamically**

In [ ]:
5*5

25

In [ ]:
## Eval function evaluate python expression which are written as strings.
eval("5*5")

25

In [ ]:
eval(input("Enter the python expression"))

Enter the python expression5*5

25

In [ ]:
def square_num(num):
  return num**2

In [ ]:
eval("square_num(2)")

4

## How does Eval function actually work
1. Parse the Python Expression
2. Compile into a byte code
3. Evaluate the python expression
4. It will retrun the result

In [ ]:
var = compile("5*5","<string>","eval")

In [ ]:
var

In [ ]:
eval(var)

25

In [ ]:
## Globals
x =10
eval("x + 50 + x**2", {"x":x})

160

In [ ]:
x = 100
z = 100
eval("x+z", {"x":x,"z":z})

200

In [ ]:
eval("a+b+c",{},{"a":100,"b":200,"c":1000})

1300

In [ ]:
a=100
b=200
eval("a<b")

True

In [ ]:
x=100
y=100
eval("x+y",{},{})

NameError: ignored

In [1]:
!git config --global user.name "ayushksingh28"
!git config --global user.email "singh.ayushk1128@gmail.com"
!git config --global user.password "Bholu@200128"

In [2]:
token = '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'
username = 'ayushksingh28'
repo = 'mllib'

In [3]:
!git clone https://{token}@github.com/{username}/{repo}

Cloning into 'mllib'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [4]:
%cd {repo}

/content/mllib

In [5]:
%ls

README.md

In [7]:
!mv /content/BasicPython.ipynb /content/mllib/Notebooks

mv: cannot stat '/content/BasicPython.ipynb': No such file or directory